/**** Start Medium red Violet them ***/

@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah" );
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .color-tool {background-color: #BB3385;}

.about h1 span,
.testimoial span,
.ultimate-footer h3,
.ultimate-footer .copy-right span {
    color: #BB3385;
}

.carousel-indicators li,
.option-box .color-option,
.testimoial .carousel-indicators li.active {border: 3px solid #BB3385}

.dropdown-menu {border-top: 2px solid #BB3385;}

body {font-family: 'Gloria Hallelujah', cursive}

/**** End Medium red Violet them ***/